<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>FOODDOCK</title>
    <!-- 아이콘 -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/elice-rabbit-favicon.png"
    />
    <!-- bulma css 관련 -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com/%22%3E">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap" rel="stylesheet">
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/7630448495.js"
      crossorigin="anonymous"
    ></script>
    <!-- 다음 주소 API 사용 -->
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <!-- 구글 OAuth -->
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <!-- 카카오 OAuth -->
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="user-info-cart.css" />
    <script src="user-info-cart.js" type="module" defer></script>
    <script src="/home/home.js" type = "module" defer></script>
    <script src="/home/home-nav.js" type = "module" defer></script>
    <!-- sweetalert2 사용하기 위한 파일 -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- 로고 -->
    <style>
      .logo {
        width:70px; 
        height:70px; 
        border-radius: 25%; 
        background-image: url('/logo.png'); 
        background-size: cover; 
        box-shadow: 0px 0px 5px #333;
        transition: all 0.3s ease-in-out;
        top: 25px;
        vertical-align: top;
        justify-content: center;
      }
      .logo:hover {
        transform: scale(1.1);
      }
    </style>
  </head>
  <body>
    <!-- 헤더 시작 -->
    <div id="header">
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="container mt-3">
          <div class="navbar-brand">
            <a class="navbar-item" href="/">
              <div class="logo">
              </div>
            </a>
            <a
              role="button"
              class="navbar-burger"
              aria-label="menu"
              aria-expanded="false"
              data-target="navbarBasicExample"
            >
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
          </div>
            <div class="navbar-end breadcrumb my-auto" aria-label="breadcrumbs">
              <ul id="navbar">
              </ul>
            </div>
          </div>
        </div>
      </nav>
      <div id="navbar_menu" class="sticky">
        <div class="menu_main">
          
          <ul class="menu_list">
            <li class="menu category_toggle">
                <div class="toggle">
                  <img width="16px" height="14px" src="https://res.kurly.com/pc/service/common/1908/ico_gnb_all_off_x2.png" alt="">
                  <span>전체 카테고리</span>
                </div>
              <div class="category_wrap">
                <ul id="inner_nav">
                  <li><a onclick="location.href='/product/meat'" class="meat"><span>고기</span></a></li>
                  <li><a onclick="location.href='/product/vegetable'" class="vegetable"><span>야채</span></a></li>
                  <li><a onclick="location.href='/product/fruit'" class="fruit"><span>과일</span></a></li>
                  <li><a onclick="location.href='/product/fish'" class="fish"><span>생선</span></a></li>
                </ul>
              </div>
            </li>
            <li class="menu menu2">
              <a href="/product/meat" class="meat">고기</a>
            </li>
            <li class="menu menu3">
              <a href="/product/vegetable" class="vegetable">채소</a>
            </li>
            <li class="menu menu4">
              <a href="/product/fruit" class="fruit">과일</a>
            </li>
            <li class="menu menu5">
              <a href="/product/fish" class="fish">생선</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="cart_list_wrap">
      <h2 class="user_cart_title">주문 조회</h2>
      <div class="cart_list_container_wrap">
        <div class="cart_list_container">
          <div class="cart_list_items1">날짜</div>
          <div class="cart_list_items2">주문정보</div>
          <div class="cart_list_items3">상태</div>
          <div class="cart_list_items4">신청</div>
        </div>
        
        <!-- 여기서부터는 db에 있는 데이터들을 다시 뿌려주는 역할을 한다. -->
        <div class="db_cart_list_wrap">

        </div>
      </div>
    </div>
  </body>
  
</html>
