<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>FOODDOCK</title>
    <!-- 아이콘 -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/elice-rabbit-favicon.png"
    />
    <!-- bulma css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    
    
    
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/7630448495.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="home.css" />
    <!-- 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap" rel="stylesheet">
    <!-- <script src="home.js" type="module" defer></script> -->
    <style>
      .logo {
        width:70px; 
        height:70px; 
        border-radius: 25%; 
        background-image: url('../logo.png'); 
        background-size: cover; 
        box-shadow: 0px 0px 5px #333;
        transition: all 0.3s ease-in-out;
      }
      .logo:hover {
        transform: scale(1.1);
      }
    </style>
  </head>
  <body>
    <!-- 헤더 시작 -->
    <div id="header">
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="container mt-3">
          <div class="navbar-brand">
            <a class="navbar-item" href="/">
              <div class="logo">
              </div>
            </a>
            <a
              role="button"
              class="navbar-burger"
              aria-label="menu"
              aria-expanded="false"
              data-target="navbarBasicExample"
            >
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
          </div>
            <div class="navbar-end breadcrumb my-auto" aria-label="breadcrumbs">
              <ul id="navbar">
                <li><a href="/login" style="font-weight:500;">로그인</a></li>
                <li><a href="/register" style="font-weight:500;">회원가입</a></li>
                <li>
                  <a href="/cart" aria-current="page">
                    <span class="icon">
                      <i class="fas fa-cart-shopping"></i>
                    </span>
                    <span style="font-weight:500;">카트</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
      <div id="navbar_menu" class="sticky">
        <div class="menu_main">
          <ul class="menu_list">
            <li class="menu menu1">
              <a href="#">
                <img width="16px" height="14px" src="https://res.kurly.com/pc/service/common/1908/ico_gnb_all_off_x2.png" alt=""> 
                <!-- toggle icon -->
                <span class="text">전체 카테고리</span>
              </a>
            </li>
            <li class="menu menu2">
              <a href="/product/meat" id="meat">고기</a>
            </li>
            <li class="menu menu3">
              <a href="/product/vegetable" id="vegetable">채소</a>
            </li>
            <li class="menu menu4">
              <a href="/product/fruit" id="fruit">과일</a>
            </li>
            <li class="menu menu5">
              <a href="/product/fish" id="fish">생선</a>
            </li>
          </ul>
        </div>
          
        <div class="search">
          <input type="text" placeholder="검색어를 입력해주세요" class="search_box">
          <div id="search_btn">
            <img src="https://res.kurly.com/pc/service/common/1908/ico_search_x2.png" alt="">
            <!-- search icon -->
          </div>
        </div>

      </div>
      
 
    </div>

    <!-- main -->

       <!-- 배너 슬라이드 시작 -->
    <div class="slides_wrap">
      <div class="images">        
        <div class="image image1"><img alt=""></div>
        <div class="image image2"><img alt=""></div>
        <div class="image image3"><img alt=""></div>
        <div class="image image4"><img alt=""></div> 
      </div>
      <div onclick="side_slide(-1)" class="slide left">
        <span class="fas fa-angle-left"></span> 
      </div>
      <div onclick="side_slide(1)" class="slide right">
        <span class="fas fa-angle-right"></span> 
      </div>
      <div class="btm_sliders">
        <span onclick="btm_slide(1)"></span>
        <span onclick="btm_slide(2)"></span>
        <span onclick="btm_slide(3)"></span>
        <span onclick="btm_slide(4)"></span>
      </div>
    </div>
      <!-- 배너 슬라이드 끝 -->
  
    <section>
      <div class="promotion">
        <div id="section_title">
          <h2>고기</h2>
        </div>
        
        <div class="gallery_wrap">
          <div class="section_left_btn">
            <img src="https://s3.ap-northeast-2.amazonaws.com/res.kurly.com/kurly/ico/2021/arrow_list_left_60_60.svg" alt="">
          </div>
          <div class="section_right_btn">
            <img src="https://s3.ap-northeast-2.amazonaws.com/res.kurly.com/kurly/ico/2021/arrow_list_right_over_60_60.svg" alt="">
          </div>
          <div class="gallery">
            <div class="item">
              <div class="thumbnail" >
                <a id="test" href="">
                  <img src="https://img-cf.kurly.com/shop/data/goods/1637929148186l0.jpeg" alt="타코야키" >
                </a>
              </div>
              <div class="shopping_cart">
                <button class="shopping_cart_icon"><img src="https://s3.ap-northeast-2.amazonaws.com/res.kurly.com/kurly/ico/2021/cart_white_45_45.svg" alt="카트담기 아이콘" ></button>
              </div>
              <div class="description">
                <h3 class="description_text"><a href="">[오리온] 태양의 맛 썬칩</a></h3>
                <div class="price">
                  10,000
                  <span>원</span>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="thumbnail" >
                <a href="">
                  <img src="https://img-cf.kurly.com/shop/data/goods/1637929148186l0.jpeg" alt="타코야키" >
                </a>
              </div>
              <div class="shopping_cart">
                <button class="shopping_cart_icon"><img src="https://s3.ap-northeast-2.amazonaws.com/res.kurly.com/kurly/ico/2021/cart_white_45_45.svg" alt="카트담기 아이콘" ></button>
              </div>
              <div class="description">
                <h3 class="description_text"><a href="">[오리온] 태양의 맛 썬칩</a></h3>
                <div class="price">
                  10,000
                  <span>원</span>
                </div>
              </div>
            </div>
        
            <div class="item">
              <div class="thumbnail" >
                <a href="">
                  <img src="https://img-cf.kurly.com/shop/data/goods/1637929148186l0.jpeg" alt="타코야키" >
                </a>
              </div>
              <div class="shopping_cart">
                <button class="shopping_cart_icon"><img src="https://s3.ap-northeast-2.amazonaws.com/res.kurly.com/kurly/ico/2021/cart_white_45_45.svg" alt="카트담기 아이콘" ></button>
              </div>
              <div class="description">
                <h3 class="description_text"><a href="">[오리온] 태양의 맛 썬칩</a></h3>
                <div class="price">
                  10,000
                  <span>원</span>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="thumbnail" >
                <a href="">
                  <img src="https://img-cf.kurly.com/shop/data/goods/1637929148186l0.jpeg" alt="타코야키" >
                </a>
              </div>
              <div class="shopping_cart">
                <button class="shopping_cart_icon"><img src="https://s3.ap-northeast-2.amazonaws.com/res.kurly.com/kurly/ico/2021/cart_white_45_45.svg" alt="카트담기 아이콘" ></button>
              </div>
              <div class="description">
                <h3 class="description_text"><a href="">[오리온] 태양의 맛 썬칩</a></h3>
                <div class="price">
                  10,000
                  <span>원</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      
    </section>



    <!-- footer -->
    <footer class="footer">
      <div id="customer_center_wrap">
        <h2 class="center_h2">고객행복센터</h2>

        <div id="call_wrap">
          <div class="call_title_wrap">
            <h3 class="call">1779-5549</h3>
          </div>
          <div id="right_call_wrap">
            <p class="customer">365고객센터</p>
            <p class="detail">오전 7시 - 오후 7시</p>
          </div>
        </div>

        <div id="question_wrap">
          <div class="question_title_wrap">
            <h3 class="cc_qna">1:1 문의</h3>
          </div>
          <div id="right_question_wrap">
            <p class="customer">24시간 접수 가능</p>
            <p class="detail">고객센터 운영시간에 순차적으로 답변해드리겠습니다.</p>
          </div>
        </div>
      </div>

      <div id="introduce_wrap" >
        <!-- <ul class="introduce_list">
          <li>컬리소개</li>
          <li>컬리소개영상</li>
          <li>인재채용</li>
          <li>이용약관</li>
        </ul> -->
        <p class="footer_p">COMPANY : (주)푸드장 / OWNER : 박승준, 김호진, 이아영, 김용민, 조성호 / CALL CENTER : 1779-5549 <span>I</span></p>
        <p class="footer_p">ADDRESS : 서울 강남구 테헤란로53길 16 예안빌딩 B1층 <span>I</span></p>
        <p class="footer_p">입점문의: tmdeksdl@gmail.com <span>I</span> 채용문의: cohojin3714@gmail.com
        <p class="footer_p">개인정보관리책임자: bdd3452@gmail.com <span>I</span>
        <!-- <p class="footer_p">입점문의 : <span class="font_change">입점문의하기</span> <span>I</span> 마케팅제휴 : <span class="font_change">xxxxxxxx3714@xxxxxx.com</span></p>
        <p class="footer_p">채용문의 : <span class="font_change">recruit@xxxxx.xxx</span>
        <p class="footer_p">대량주문 문의 : <span class="font_change">xxxxxxx@xxxxxx.com</span></p> -->
  
      </div>
    </footer>
    <!-- <script src="imageSlider.js"></script> -->
    <script src="home.js" type="module"></script>
    <script>
      var indexValue = 1;
      showImg(indexValue);
      function btm_slide(e){showImg(indexValue = e);}
      function side_slide(e){showImg(indexValue += e);}
      function showImg(e){
        var i;
        const img = document.querySelectorAll('.image');
        const sliders = document.querySelectorAll('.btm_sliders span');
        if (e > img.length) {indexValue = 1}
        if (e < 1) {indexValue = img.length}
        for (i = 0; i < img.length; i++){
          img[i].style.display = "none";
        }
        for (i = 0; i < sliders.length; i++){
          sliders[i].style.background = "rgba(255,255,255,0.2)"
        }
        img[indexValue - 1].style.display = "block";
        sliders[indexValue - 1].style.background = "white";
      }
    </script>

  </body>

</html>

