* {
  margin:0;
  padding:0;
  font-family: 'Nanum Gothic', sans-serif;  
}
#header, .navbar, body {
  margin: 0;
  color: #333;
}
ul, li {
  list-style:none;
}

/* header */
.navbar-item {
  position: relative;
}
#navbar li a {
  transition: all 0.3s ease-in-out;
}
#navbar li a:hover {
  transform: scale(1.05);
}

#navbar_menu {
  display: flex;
  justify-content: center;
}

.sticky {
  position: sticky;
  top: 0px;
  background-color: white;
  z-index: 2;
}
.menu_main a,
.menu_main a span{
  color: #333
}

.menu_list {
  display: flex;
}
.menu_list .menu {
  margin: 30px 70px;
  font-size: 16px;
  font-weight: 700;
  white-space: nowrap;

}
.menu_list .menu a:hover {
  color: #68a790;
  background-color: transparent;
  text-decoration: underline;
}
.search {
  display:flex;
  position: relative;
}
.search_box {
  width: 200px;
  height: 36px;
  border: 1px solid #f7f7f7;
  border-radius: 18px;
  background-color: #f7f7f7;
  padding: 0 60px 0 14px;
  font-size: 12px;
  color: #555;
  margin: auto;
  
}
#search_btn {
  width: 35px;
  height: 35px;
  margin: auto;
  position: absolute;
  right: 5px;
  top: 25px;
} 
#search_btn img {
  /* opacity: 0.5; */
}
.navbar-end a {
  color: black;
}

/* main */

/* 배너 슬라이드 시작 */
.slides_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 370px;
  width: 100%;
  /* overflow: hidden; */
  object-fit: cover;
  position: relative;
  object-position: 20% 10%; 
  margin: 0 auto;
}
.images {
  height: 100%;
  width: 100%;
}
.image {
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image img {
  height: 100%;
  width: 100%;
}
.image1 {
  background-image: url("https://images.unsplash.com/photo-1603048297172-c92544798d5a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
}
.image2 {
  background-image: url("https://images.unsplash.com/photo-1610348725531-843dff563e2c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fHZlZ2V0YWJsZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
}
.image3 {
  background-image: url("https://images.unsplash.com/photo-1610832958506-aa56368176cf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8ZnJ1aXRzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
}
.image4 {
  background-image: url("https://images.unsplash.com/photo-1535424921017-85119f91e5a1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTl8fGZpc2glMjBmb29kfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
}

.btm_sliders {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.btm_sliders span {
  height: 15px;
  width: 50px;
  border: 2px solid white;
  border-radius: 25%;
  margin: 0 5px;
  cursor: pointer;
  transition: all .3s ease-in-out;
  /* background-color: white; */
}

.btm_sliders span:hover {
  background-color: white;
}

.slides_wrap .slide {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 45px;
  height: 45px;
  border: 3px solid rgba(255,255,255,0.7);;
  border-radius: 35%;
}
.slides_wrap .slide:hover{
  background-color: rgba(255,255,255,0.3);
}
.slides_wrap .slide span {
  font-size: 35px;
  color: rgba(255,255,255,0.7);
  line-height: 41px;
  cursor: pointer;
}
.slides_wrap .left {
  left: 10px;
}
.slides_wrap .right {
  right: 10px;
}

/* 배너 슬라이드 끝 */

/* section */
section {
  /* display: flex; */
  position: relative;
  margin: 40px 0;
  /* background-color: red; */
  padding: 32px 0 40px 0;
  justify-content: center;
}

#section_title h2{
  text-align: center;
  margin: 0 0 25px 0;
  font-size: 28px;
  font-weight: 700;
  /* background-color: blue; */
}

.promotion {
  margin: 0 0 200px 0;
  /* display: flex; */
  /* flex-direction: column; */
}
/* .gallery_wrap {
  position: relative;
  width: 1050px;
  margin: 0 auto; /* block 상태일때 */

  /* justify-content: center; */
  /* text-align: center; inline 일 때*/
  /* background-color: green; 
  
} */
/* 

.item{
  position: relative;
  padding: 0;
  margin: 0 9px;
  border: solid 3px #333;
  border-radius: 5%;
  box-shadow: 5px 5px 5px gray;
  background-color: white
} */



/* .landing {
  cursor: pointer;
  border: 1px solid red;
  padding: 10px;
}

.greeting {
  cursor: pointer;
  border: 1px solid blue;
  padding: 10px;
  margin-left: 3rem;
} */

.footer {
  margin: 0 15vw 0 15vw;
  padding:0;
  align-items: flex-start;
}
#custom_center_wrap {
  text-align: center;

  margin: 0 0 10px 0;
}
.center_h2 {
  font-size: 16pt;
  font-weight:700;
  padding-bottom: 29px;
}

#call_wrap,
#question_wrap {
  display: flex;
  margin: 10px 16px 0 0;
}

#call_wrap .call_title_wrap,
#question_wrap .question_title_wrap
{
  text-align: center;
  line-height: 40px;
  height: 40px;
  width: 140px;
  border: 1px solid #e3e3e3;
  border-radius: 3px;

}
#call_wrap .call_title_wrap{
  border: none;
  
}
#call_wrap .call_title_wrap .call {
  /* font-size:1.7rem; */
  font-size: 27px;
  font-weight: 700;
  white-space: nowrap;
}
#question_wrap .question_title_wrap .cc_qna{
  font-size:14px;
  font-weight: 700;
  white-space: nowrap;
}

#right_call_wrap,
#right_question_wrap{
  padding-left: 10px;
  white-space: nowrap;
}
#right_call_wrap .detail,
#right_question_wrap .detail{
  color: #999;
}

#introduce_wrap {
  /* display: flex; */
}

.introduce_list {
  display: flex;
  justify-content: space-around;
  padding-bottom: 29px;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-weight: 500;
  font-size: 14px;
  padding: 50px;
  width: 100%;
  margin: 0;
  
  /* margin: 100px; */
  
}

/* 고객 행복센터 및 멤버소개 */
.footer_p {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #999999;
  font-size: 12px;
  padding-bottom: 6px;
  white-space: nowrap;
}

.gallery_wrap {
  /* width: 100%;
  height: 100%; */
  position: relative;
  width: 100%;
  margin: 0 auto; /* block 상태일때 */

  /* justify-content: center; */
  /* text-align: center; inline 일 때*/
  /* background-color: green; */
}
.gallery_wrap .section_left_btn {
  position: absolute;
  left:-45px;
  top:135px;
  z-index: 300;
  /* opacity: 0.6; */
  cursor: pointer;
}
.gallery_wrap .section_left_btn img {
  content: url('https://s3.ap-northeast-2.amazonaws.com/res.kurly.com/kurly/ico/2021/arrow_list_left_60_60.svg');
}
.gallery_wrap .section_right_btn {
  position: absolute;
  right:-45px;
  top:135px;
  z-index: 300;
  /* opacity: 0.6; */
  cursor: pointer;
}
.gallery_wrap .section_right_btn img {
  content: url('https://s3.ap-northeast-2.amazonaws.com/res.kurly.com/kurly/ico/2021/arrow_list_right_over_60_60.svg');
}
.gallery {
  display: flex;
  justify-content: center;
  /* background-color: yellow; */
}
.item {
  position: relative;
  padding: 0;
  margin: 0 9px;
  border: solid 3px #333;
  border-radius: 5%;
  box-shadow: 5px 5px 5px gray;
  background-color: white;
  width: 250px;
  height: 320px;

}
.thumbnail {
  width: 250px;
  height: 320px;
  overflow: hidden;
  border-bottom: solid 3px #333;
  /* border: solid 3px #333;
  border-radius: 5%;
  box-shadow: 5px 5px 5px gray; */
}
.item.thumbnail a img {
  content: url('https://img-cf.kurly.com/shop/data/goods/1637929148186l0.jpeg');
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all .3s ease-in-out;
}
.item.thumbnail img:hover {
  transform: scale(1.1);

}
.description {
  padding: 14px 10px 0 0;
  text-align: center;
  
}
.description_text {
  font-size: 16px;
  font-weight: 600;
  display: block;
  margin: 0 0 8px 0;
}
.description_text a{
  color: rgb(76, 76, 76);
}
.description_text a:hover{
  color: #68a790;
  text-decoration: underline;
}

.price {
  font-size: 16px;
  font-weight: 700;
  display: block;
  color: #4c4c4c
}

.shopping_cart {
  position: absolute;
  right:20px;
  bottom: 75px;
}
.shopping_cart_icon {
 background-color: transparent;
 opacity: 0.8;
 border: none;
}
.shopping_cart_icon img {
  height: 55px;
  width: 55px;
  transition: all .2s ease-in-out
}
.shopping_cart_icon img:hover {
  cursor: pointer;
  transform: scale(1.05);
}