.register-user-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85vh;
}

.register-user-form-box {
  width: 30rem;
}

.register-user-form-box .title {
  text-align: center;
}

.register-user-form-box .button {
  font-weight: bold;
}

.register-user-form-box .input:focus {
  border-color: #00d1b2;
  box-shadow: 0 0 0 0.125em rgba(0, 209, 178, 0.25);
}
.control{
  display: flex;
}
.radio-items{
  flex-grow: 1;
}

.address-btn-wrap{
  display: flex;
}
/* 왜 3:1의 비율이 안먹히는지 잘 모르겠음 */
.address-btn-wrap:nth-child(1){
  flex-grow: 3;
}
.address-btn-wrap:nth-child(2){
  flex-grow: 1;
}

.address-detail-wrap{
  display: flex;
}

.input-id-wrap:nth-child(1){
  flex-grow: 3;
}
.input-id-wrap:nth-child(2){
  flex-grow: 1;
}

/* 삭제 버튼만들기 */
.btn-cart-close::after{
  display: inline-block;
  content: "\00d7";
  font-size: 15pt;
}
.hr-items-line{
  border: 1px solid #999;
}
.cart-items-img img{
  width: 60px;
  height: 78px;
  background-image: url("https://img-cf.kurly.com/shop/data/goods/1470879732263i0.jpg");
}
.cart-items-list{
  display: flex;
  align-items: center;
  border-bottom: 1px solid #999;
}
.cart-items-checkbox{
  flex-grow: 1;
}
.cart-items-img{
  flex-grow: 2;
}
.cart-items-content{
  flex-grow: 3;
}
.cart-items-btn{
  flex-grow: 1;
}
.cart-delete-btn{
  width: 30px;
  height: 30px;
  background-color: transparent;
  background-image: url("https://res.kurly.com/pc/service/cart/2007/ico_delete.svg");
}
.cart-items-quantity-input{
  width: 80px;
  height: 30px;
  border: 1px solid #dddfe1;
  border-radius: 3px;
  text-align: right;
  font-weight: 700;
  padding-right: 10px;
}
.cart-plus-minus-wrap{
  margin-top: 5px;
}
.cart-btn-minus{
  width: 38px;
  height: 28px;
  background-image: url("https://res.kurly.com/pc/ico/2010/ico_minus.svg");
  background-color: gray;
  border: 1px solid #dddfe1;
  border-radius: 3px;
  background-position: center;
  cursor: pointer;
}
.cart-btn-plus{
  width: 38px;
  height: 28px;
  background-image: url("https://res.kurly.com/pc/ico/2010/ico_plus.svg");
  background-color: #5f0080;
  border: 1px solid #dddfe1;
  border-radius: 3px;
  background-position: center;
  cursor: pointer;
}